{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Hi {{user}} !</title>
</head>
<body>
    <div class="homepage">
        Hi <div class="span1">{{ user }}</div> !<br>
        <div class="homepage-subtitle">
            Selamat datang di Website story 9!
        </div>
        <img src="https://media.giphy.com/media/4N3Mqhl8JRyYLapZgt/giphy.gif" class="welcome">
        <br>
        <a href="{% url 'story_9:logout' %}"><button class="main-button logout-button">Logout </button></a>
    </div>
</body>
</html>