<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frehanza's PPW Project</title>

    
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

  <!-- Styling -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>

    <h1 class="text">Welcome to <br> Frehanza's PPW Stories</h1>
    
    <div class="container">
        <a class="btn btn-1" href="http://story1-frehanza.herokuapp.com/Story1.html">Story 1</a>
        <a class="btn btn-2" href="https://www.figma.com/file/usBktZiZu5RbLUb9OYBTwM/PPW?node-id=12%3A3">Story 2</a>
        <a class="btn btn-3" href="https://story-frehanza.herokuapp.com/">Story 3-5</a> 
        <a class="btn btn-4" href="http://story6-frehanza.herokuapp.com/">Story 6</a> 
        <a class="btn btn-5" href="{% url 'story_7:home' %}">Story 7</a>
        <a class="btn btn-1" href="{% url 'story_8:home' %}">Story 8</a>
        <a class="btn btn-2" href="{% url 'story_9:authentication_page' %}">Story 9</a>
    </div>

</body>
</html>