
<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frehanza | Story 7</title>

  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
 
  <!-- Styling -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- JQuery Import -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <!-- Custom Script -->
  <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>

  <div class="logo">
    <a href="{% url 'landingpage:index' %}"><img src="{% static 'favicon-32x32.png' %}" alt="F"></a>
  </div>

  <div id="wrapper">

    <h1 class="text">Accordion</h1>

    <form id="paper" method="POST" action="{% url 'story_7:home' %}">
    {% csrf_token %}

    <div id="margin">Title: <input id="title-form" type="text" name="title"></div>

    <textarea placeholder="Enter something here..." id="text-form" name="content" rows="4" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea>  
    <br>

    <button id="button">Submit</button>

    
    </form>
    
  </div>

<div id='accordion'></div>
</body>
</html>

