@import url(//db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold);

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-600 - latin */
@font-face {
  font-family: 'Heebo Medium';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/heebo-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-600.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-600.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/heebo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/heebo-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-800.svg#Heebo') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
      src:url("./fonts/monumentextended-ultrabold.eot")
          url("./fonts/monumentextended-ultrabold.eot") format("embedded-opentype"), 
          url('./fonts/monumentextended-ultrabold.woff2') format('woff2'),
          url('./fonts/monumentextended-ultrabold.woff') format('woff'),
          url("./fonts/monumentextended-ultrabold.ttf") format("truetype"), 
          url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended Ultrabold"; 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot"); 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot?#iefix") format("embedded-opentype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff2") format("woff2"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff") format("woff"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.ttf") format("truetype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); }

html, body {
    margin: 0;
    padding: 0;
  }
  
  main {
    width: 100%;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  main * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Heebo Medium";
  }
  
  main .jumbotron {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #9fddff;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    width: 100%;
    height: 20em;
  }
  
  main .jumbotron h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: "Monument Extended Ultrabold";
  }
  
  main .jumbotron #search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40em;
    height: 3em;
  }
  
  main .jumbotron #search-box input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.5em;
    padding-left: .5em;
    font-family: "Heebo Medium";
  }
  
  main .jumbotron #search-box #search-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
    border: none;
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#bfbfbf));
    background: linear-gradient(180deg, #dbdbdb 0%, #bfbfbf 100%);
    height: 100%;
    width: auto;
    padding: 0 1em;
    cursor: pointer;
  }
  
  main .jumbotron #search-box #search-btn:hover {
    background: #d2d2d2;
  }
  
  main .jumbotron #search-box #search-btn img {
    width: 2em;
  }
  
  main .search-results {
    border-collapse: collapse;
    table-layout: fixed;
    width: 50em;
    font-family: "Heebo Medium";
  }
  
  main .search-results, main .search-results tr, main .search-results td, main .search-results th {
    border: 1px solid black;

  }
  
  main .search-results .img-col {
    width: 8em;
  }
  
  main .search-results .img-col img {
    width: 100%;
    height: auto;
    font-family: "Heebo Medium";
  }
  
  main .search-results .title-col {
    width: 20em;
    font-family: "Heebo Medium";
  }
  
  main .search-results .authors-col {
    width: 10em;
    font-family: "Heebo Medium";
  }
  
  main .search-results th, main .search-results h1 {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    word-break: break-all;
    font-family: "Heebo Medium";
  }
  
  @media (max-width: 900px) {
    main .search-results {
      width: 30em;
    }
  }
  
  @media (max-width: 700px) {
    main .jumbotron #search-box {
      height: 2em;
      width: 90vw;
    }
    main .jumbotron #search-box input {
      font-size: 1em;
    }
    main .jumbotron #search-box #search-btn img {
      width: 1em;
    }
    main .search-results {
      font-size: .8em;
    }
  }
  
  @media (max-width: 500px) {
    main .search-results {
      font-size: .7em;
    }
    main .search-results .title-col {
      width: 10em;
    }
  }
  
  @media (max-width: 320px) {
    main .search-results {
      font-size: .6em;
    }
  }
  /*# sourceMappingURL=main.css.map */

  .logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    padding-top: 1rem;
    
    
  }
  