@import url(//db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold);

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-600 - latin */
@font-face {
  font-family: 'Heebo Medium';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/heebo-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-600.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/heebo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/heebo-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-800.svg#Heebo') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
      src:url("../fonts/monumentextended-ultrabold.eot")
          url("../fonts/monumentextended-ultrabold.eot") format("embedded-opentype"), 
          url('../fonts/monumentextended-ultrabold.woff2') format('woff2'),
          url('../fonts/monumentextended-ultrabold.woff') format('woff'),
          url("../fonts/monumentextended-ultrabold.ttf") format("truetype"), 
          url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended Ultrabold"; 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot"); 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot?#iefix") format("embedded-opentype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff2") format("woff2"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff") format("woff"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.ttf") format("truetype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); }






/* <- Demo Stuff Start */

body{
  font-family: 'Heebo Medium';
  letter-spacing: 0.1em;
  margin:0;
  background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 40vh;
}
.btn {
  flex: 1 1 auto;
  height: 20px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 5px #eee;
  border-radius: 50px;
 }

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

/* Magic Stuff End -> */

.text {
  text-align: center;
  background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: 'Monument Extended Ultrabold';
  margin-top: 150px;
}

