@import url(//db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold);

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-600 - latin */
@font-face {
  font-family: 'Heebo Medium';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/heebo-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-600.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/heebo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/heebo-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/heebo-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/heebo-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/heebo-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/heebo-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/heebo-v9-latin-800.svg#Heebo') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
      src:url("../fonts/monumentextended-ultrabold.eot")
          url("../fonts/monumentextended-ultrabold.eot") format("embedded-opentype"), 
          url('../fonts/monumentextended-ultrabold.woff2') format('woff2'),
          url('../fonts/monumentextended-ultrabold.woff') format('woff'),
          url("../fonts/monumentextended-ultrabold.ttf") format("truetype"), 
          url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended Ultrabold"; 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot"); 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot?#iefix") format("embedded-opentype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff2") format("woff2"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff") format("woff"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.ttf") format("truetype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); }


* {
  outline:none;
  border:none;
  margin:0px;
  padding:0px;
  font-family: 'Heebo Medium';
}

body {
  font-family: 'Heebo Medium';
  letter-spacing: 0.1em;
  margin:0;
  background: url('https://raziraz.github.io/codepen/envato_contest/bg-space.jpg') #222 center center;

  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;

}

#paper {
color:#FFF;
font-size:20px;
}

#margin {
margin-left:12px;
margin-bottom:20px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none; 


}

#text-form {
  width:500px;
  overflow:hidden;
  background-color:#FFF;
  color:#222;
  font-family:'Heebo Medium';
  font-weight:normal;
  font-size:18px;
  resize:none;
  line-height:40px;
  padding-left:100px;
  padding-right:100px;
  padding-top:45px;
  padding-bottom:34px;
  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat:repeat-y, repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top:1px solid #FFF;
  border-bottom:1px solid #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-form {
  background-color:transparent;
  border-bottom:3px solid #FFF;
  color:#FFF;
  font-size:20px;
  font-family: 'Heebo Medium', 'Heebo';
  height:28px;
  font-weight:bold;
  width:220px;
}

#button {
  float:right;
  height:20px;
  padding-top: 24px;
  padding-left:24px;
  padding-right:24px;


  font-size: 16px;
  position: relative;
  color: #ffffff;
  background: rgb(50,186,217);
  background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  transition: all .5s ease;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  border-radius: 30px;
  box-shadow: none;
  min-width: 200px;
  border: 0px!important;
  padding: 0px 25px;
}

#button:hover{
  background: #48D9CA;
  color: #fff;
}

#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

#wrapper {
  width:700px;
  height: 50vh;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;

  
}

body #accordion {
  width: 40em;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 170px;
  margin-bottom: 100px;

  margin-left: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body #accordion .item {
  width: 100%;
}

body #accordion .item:not(:first-child) .head {
  border-top: none;
}

body #accordion .item .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid white;
  padding: 1em;
}

body #accordion .item .head .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #accordion .item .head .arrows div {
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5em;
  width: 2em;
  height: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
}

body #accordion .item .head .arrows div:hover {
  background: white;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body #accordion .item .content {
  max-height: 0px;
  padding: 0 1em;
  background: white;
  color: white;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

body #accordion .item .content.show {
  max-height: 1000px;
  color: black;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 2px;
  padding: 1em;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

.text {
  text-align: center;
  background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-family: 'Monument Extended Ultrabold';
  margin-bottom: 40px;
}

.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
  padding-top: 1rem;
  
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type=text] {
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #fff 0%, #464747 #f9f9f9 100%);
  transition: width 0.4s ease;
  outline: none;
}
input[type=text]:focus {
  width: 300px;
}
i {
  position: relative;
  left: -37px;
  color: #8233c5;
}
.social {
  position: absolute;
  right: 35px;
  bottom: 35px;
}
.social img {
  display: block;
  width: 32px;
}
