@import url(//db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold);

/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/heebo-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-600 - latin */
@font-face {
  font-family: 'Heebo Medium';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/heebo-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-600.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-600.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/heebo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/heebo-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/heebo-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/heebo-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/heebo-v9-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/heebo-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/heebo-v9-latin-800.svg#Heebo') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
      src:url("./fonts/monumentextended-ultrabold.eot")
          url("./fonts/monumentextended-ultrabold.eot") format("embedded-opentype"), 
          url('./fonts/monumentextended-ultrabold.woff2') format('woff2'),
          url('./fonts/monumentextended-ultrabold.woff') format('woff'),
          url("./fonts/monumentextended-ultrabold.ttf") format("truetype"), 
          url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended Ultrabold"; 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot"); 
  src: url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.eot?#iefix") format("embedded-opentype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff2") format("woff2"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.woff") format("woff"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.ttf") format("truetype"), 
       url("//db.onlinewebfonts.com/t/a4745f4b1d04fa025c6a05d891ed0126.svg#Monument Extended Ultrabold") format("svg"); 
}



body, div, h4, h5, span, a, button, input {
    font-family: 'Heebo Medium';
}

h1, h2, h3 {
    font-family: 'Monument Extended Ultrabold';
}

body  {
    background: rgb(251,19,211);
    background: linear-gradient(90deg, rgba(251,19,211,0.17690826330532217) 0%, rgba(0,99,255,0.5298494397759104) 100%);
}

.main-login{
    font-family: 'Heebo Medium';
    width: 100vw;
    display:flex;
    flex-direction: row;
    overflow:hidden;
    padding-left: 28vw;
}

.content-section{
    background-color: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    width:62vw;
    position: fixed;
    right: 0px;
    top:0px;
}

.login-header{
    margin-bottom:20px;
    font-family: 'Monument Extended Ultrabold';
    font-size: 24px;
}

.login-section{
    display:flex;
    flex-direction: column;
    width:30vw;
    padding:60px;
    padding-top:50px;
    padding-bottom:0px;
    font-family: 'Heebo Medium';
}

.input-label{
    font-weight: 500;
}

.label-group{
    margin-top:14px;
    margin-bottom:14px;
}

.input{
    padding:10px;
    border-width: 0px;
    width: 100%;
    font-weight: 700;
    color:gray;
}

.label-group:focus-within .input-label{
    font-weight: 700;
}
.input-group{
    border-radius: 2px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color:gray;
    border-style:solid;
    padding:10px;
    padding-left:0px;
    padding-right:0px;
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.15s;
}

.input-group:focus-within{
    border-color:  -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);;
    border-bottom-width: 3px;
}

.input-icon{
    height:17px;
}

.main-button{
    margin-top:40px;
    width:80%;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    padding:15px;
    font-weight: 700;
    font-size: 14px;
    border-radius:10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover{
    background-color: rgb(0, 110, 255);
}

.hand{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new{
    color:gray;
    font-size: 12px;
    margin-top:25px;
    cursor: pointer;
}

.auth-section{
    display:flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
    padding-left: 35px;
    border-style: solid;
    border-color: linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);
    background-color: white;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.error-message{
    color:red;
    font-weight: 600;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message{
    color:green;
    font-weight: 600;
    padding:20px;
    margin:5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage{
    width:50vw;
    padding:80px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Heebo Medium';
    font-size: 36px;
    font-weight: 700;
}

.homepage-subtitle{
    font-size: 36px;
}

.logout-button{
    font-size: 30px;
}

.homepage a{
    text-decoration: none;
}

span {
    color: #ff7301;
}

.span1 {
    color: #a10000;
    display: inline-block;
}